.pypirc
pip-selfcheck.json
# Python stuff
*.py[cod]

# IDE stuff
.idea/
*.iml

# Python venv stuff
bin
lib
pyvenv.cfg
venv

# Folders
dist/
build/
docs/_build/

# Python setuptools
.cache
*.egg-info

# Unit test / coverage reports
.coverage
coverage.xml
.tox
*.pytest_cache
.ty_cache/

# Emacs backup files
*~

# Mac
.DS_Store
